* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    margin-top: 85px;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.cardapio-section{
    box-sizing: border-box
}

/* Clear floats after the columns */
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.row {
    padding-bottom: 50px;
}

/* Create three equal columns that floats next to each other */
.column {
    width: 100%;
    box-sizing: inherit;
    padding: 15px;
    float: left;
}

.column h5,h4,p{
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: right;
}

.column h5,h4 {
    font-weight: bold;
    text-align: left;
}

.column img{
    background: #717852;
    padding: 5px;
}

img{
    width: 100%;
    border-radius: 10px;
}

.intro_cardapio {
    background: no-repeat;
    background-position: center;
    background-image: url(../imgs/bg_cardapio.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}

.subtitulo_cardapio {
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 20px;
}

/* Responsive layout*/
@media screen and (min-width:851px) {
    .column {
        width: 24.99999%;
    }   
}