@media (max-width: 1200px) {
    .historia {
        display: block;
        justify-content: center;
    }

    .div_sobre {
        width: 100%;
    }

}

@media (max-width: 1100px) {
    .titulo {
        font-weight: bolder;
        font-size: 3.5rem;
        text-align: right;
    }
        
    .p {
        font-size: 2rem;
        text-align: right;
    }

    .button {
        font-size: 17px;
    }

    .center {
        text-align: center;
    }

    .contato {
        height: 700px;
    }

    .sobre_intro {
        height: auto;
    }
}

@media (max-width: 870px) {
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #694D27;
        height: 0;
        z-index: 1000;
        padding-top: 20px;
        visibility: hidden;
        transition: .5s;
        overflow-y: hidden;
    }

    .menu li {
        display: block;
        padding: 1rem 0 1rem 0;
        margin: 0;
    }

    .menu li:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    .menu a{
        padding: 0 2rem;
    }
    
    #nav.active .menu{
        display: block;
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburger {
        border-top: 2px solid;
        width: 25px;
        color: #FFEFD9  ;
        height: 3px ;
    }
    
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        transition: .5s;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}

@media screen and (max-width: 672px) {
    .titulo {
        font-weight: bolder;
        font-size: 3rem;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .p {
        font-size: 1.8rem;
        text-align: center;
        padding: 0 20px 0 20px;
        margin: 0 0 50px 0;
    }
    
    .left_div {
        position: initial;
        left: 0;
        width: 100%;
        max-height: 100%;
        padding-top: 0px;
        margin: 0 0 0px 0;
    }
    
    .right_div{
        position: initial;
        width: 100%;
        max-height: 100%;
        padding-top: 0px;
        margin: 0 0 0px 0;
    }

    .desativa :disabled {
        position: initial;
        right: 0;
        width: 100%;
        height: 0px;
        opacity: 1;
}

    .div_image {
        margin: 40px 0 40px 0;
        width: 0px;
        height: 0px;
        padding: 50px 5px 50px 5px;
        border-radius: 500px;
        background-color: #717852;
        visibility: hidden;
    }

    .ap {
        display: block;
        margin-bottom: 0px;
        height: 500px;
    }

    .sobre {
        display: block;
    }

    .mapa {
        padding: 50px;
        width: 80%;
        height: 80%;
        border-radius: 100px;
    }

    .div_mapa {
        height: 400px;
    }

    .contato {
        height: 400px;
        background-position-y: 30%;
    }

    .hist_image {
        padding: 50px;
        width: 80%;
        height: 80%;
    
    }

    .sobre_intro h2{
        padding-top:30px;
    }

    .sobre_intro p{
        padding-bottom:30px;
    }


}


@media screen and (max-width: 510px) {
    #btn-mobile {
        position: absolute;
        top: 4.2rem;
        left: 44%;
        margin-bottom: 80px;
        z-index: 2000;
    }
    #nav.active .menu{
        display: block;
        visibility: visible;
        margin-top: 30px;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    header {
        height: 6.5rem;
    }
    
    .logo {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 100%;
        height: auto;
    }

    .intro_img{
    width: 300px ;
    height: 222px ;
    }


}


@media screen and (max-width: 478px) {
    .titulo {
        font-weight: bolder;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .p {
        font-size: 1.2rem;
        text-align: center;
        padding: 0 20px 0 20px;
        margin: 0 0 50px 0;
    }

    .mapa {
        padding: 30px;
        width: 80%;
        height: 80%;
        border-radius: 100px;
    }
    
    .ap {
        height: 350px;
    }

    .sobre {
        height: 730px;
    }

    .hist_image {
        padding: 30px;
        width: 80%;
        height: 80%;
    
    }
    
}