html{
    background: #000000;
    width: 100%;
}

header {
    height: 85px;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
 
    background: #694D27;
    background-attachment: fixed;
}

footer {
    height: 75px;
   
    background: #694D27; 
}

section {
    height: 1000px;
    background: #FFEFD9;
    width: 100%;
}

.menu {
    position: absolute;
    top: 30px;
    right: 15px;
}

.menu li {
    display: inline;
    margin: 0 0 0 20px;
}

.menu a {
    color: #FFEFD9;
    font-weight: thin;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
}

.menu a:hover {
    color: #FFEFD9;
    opacity: 0.5;
    transition: 0.5s;
}

.logo {
    position: absolute;
    top: 10px;
    left: 0px;  
    width: auto;
    height: 75%;
}

.intro {
    height: 870px;
    background: no-repeat;
    background-position: center;
    background-image: url(../imgs/intro_bg.jpg);
    background-attachment: fixed;
    margin: 85px 0 0 0;
    width: auto;
    height: auto;
    z-index: 1;
    text-align: center;
}

.intro_img {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 55%;
    height: auto;
    opacity: 1;
    
}

#btn-mobile {
    display: none;
    position: absolute;
    top: 30px;
    right: 15px;
    
}
